<h1>About Us</h1>
<<<<<<< HEAD
<p> We are working on our One Month Rails pinteresting page</p>
=======
<p> My name is Darrel Adams. I'm working on my Ruby on Rails web application!</p>
<p>I will be blogging about my journey on learning Ruby!</p>
>>>>>>> 9b335edbb0d1bb93f9074aa339032a99d518b1cb
