<h1>Welcome to my app!</h1>
<<<<<<< HEAD
<p>Sign up here.</p>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to "here", "#" %>
=======
<p>Sign up here.<%= link_to "here", "#" %></p>
>>>>>>> 9b335edbb0d1bb93f9074aa339032a99d518b1cb
